[submodule "dep/sourcemod"]
	path = dep/sourcemod
	url = https://github.com/alliedmodders/sourcemod
[submodule "dep/certify"]
	path = dep/certify
	url = https://github.com/djarek/certify
[submodule "dep/vcpkg"]
	path = dep/vcpkg
	url = https://github.com/microsoft/vcpkg
